*{
    margin: 0px;
    box-sizing: content-box;
}
body{
    background-color:rgba(243, 231, 216, 0.26);
}
.nav-bar{
    height: 40px;
    background-color: rgba(255, 255, 0, 0.247);
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.nav-bar ul li{
    padding-left: 30px;
}
#projects{
    background-color: wheat;
}
#about{
    background-color: rgba(243, 231, 216, 0.26);;
}
#contect{
    background-color: wheat;
}